body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input {
    width: 300px;
}

button {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    padding-right: 30px; /* space for the eye icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#textToCopy {
    max-width: 50%; /* Limit width to half the screen */
    word-wrap: break-word; /* Break long words */
    justify-content: center;
}